body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #086A87; }

* {
  box-sizing: border-box; }

.contenedor {
  display: block;
  width: 100%;
  padding: 15px; }

.formulario {
  background: #fff;
  margin-top: 150px;
  padding: 3px; }

h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px; }

input {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 15px; }
  input .contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa; }

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer; }
  .button:hover {
    background: cadetblue; }

p {
  text-align: center; }

.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600; }
  .link:hover {
    color: cadetblue; }

@media(min-width:768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%; } }

/*# sourceMappingURL=login.css.map */
