@import variables

body 
    font-family: Arial, Helvetica, sans-serif
    margin: 0
    background: $color-blue

* 
    box-sizing: border-box

.contenedor
    display: block
    width: 100%
    padding: 15px

.formulario
    background: #fff
    margin-top: 150px
    padding: 3px

h1
    text-align: center
    color: $color-blue
    font-size: 40px

input
    font-size: 20px
    width: 100%
    padding: 10px
    border: 1px solid #aaa
    border-radius: 15px
    .contenedor
        margin-bottom: 15px
        border: 1px solid #aaa


.button
    border: none
    width: 100%
    color: white
    font-size: 20px
    background: $color-blue
    padding: 15px 20px
    border-radius: 5px
    cursor: pointer
    &:hover
        background: cadetblue

    
p
    text-align: center

.link
    text-decoration: none
    color: $color-blue
    font-weight: 600
    &:hover
        color: cadetblue

@media(min-width:768px)

    .formulario
        margin: auto
        width: 500px
        margin-top: 150px
        border-radius: 2%