body {
  background: #fff;
  text-align: center; }

p {
  color: #2c9fc2; }

h1 {
  color: #2c9fc2; }

h2 {
  color: #2c9fc2; }

h3 {
  color: #2c9fc2; }

.contenedor {
  background: #31313133;
  margin: auto;
  width: 75%;
  max-width: 1000px;
  flex: auto;
  border-radius: 10px; }

nav ul {
  list-style: none;
  padding: auto;
  margin: auto;
  float: left; }
  nav ul li {
    padding: 10px 20px;
    margin: 10px 10px;
    font-size: 15px;
    text-decoration: none;
    background: #31313133;
    color: #fff;
    display: flex;
    box-shadow: 0px 3px 0px #31313133;
    border-radius: 15px; }
    nav ul li a:link {
      color: #2c9fc2; }
    nav ul li:hover {
      background-color: #1a2537;
      color: #fff; }

.table {
  width: 100%;
  text-align: left;
  background: #fff;
  color: #2c9fc2;
  border-collapse: collapse; }
  .table th {
    padding: 20px; }
    .table th td {
      padding: 20px; }

thead {
  background-color: #1a2537;
  border-bottom: solid 5px #60b8a3;
  color: #fff; }

tr:nth-child(even) {
  background-color: #31313133; }
tr:hover td {
  background-color: #0e9674;
  color: #fff; }

button {
  flex-direction: row;
  width: 30%;
  color: #2c9fc2;
  font-size: 15px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer; }
  button:hover {
    background: #1a2537;
    color: #fff;
    width: 35%; }

select {
  width: 30%;
  border-color: #fff;
  border-radius: 10px; }

input {
  flex-direction: row;
  width: 25%;
  color: #2c9fc2;
  font-size: 15px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer; }
  input:hover {
    background: #1a2537;
    color: #fff;
    width: 27%; }

label {
  color: #2c9fc2;
  font-size: 15px; }

.section input {
  flex: columns;
  width: 25%;
  height: 100%;
  color: #2c9fc2;
  font-size: 15px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
