@import variables

body
    background: $color-white
    text-align: center
p
    color: $color-blue
h1
    color: $color-blue
    
h2
    color: $color-blue

h3
    color: $color-blue
        
.contenedor
    background: $color-purple
    margin: auto
    width: 75%
    max-width: 1000px
    flex: auto
    border-radius: 10px

nav
    ul
        list-style: none
        padding: auto
        margin: auto
        float: left
        li
            padding: 10px 20px
            margin: 10px 10px
            font-size: 15px
            text-decoration: none
            background: $color-purple
            color: $color-white
            display: flex
            box-shadow: 0px 3px 0px $color-purple
            border-radius: 15px
            a
                &:link
                    
                    color: $color-blue
            &:hover
                background-color: $color-blue22
                color: $color-white
       

.table
    width: 100%
    text-align: left
    background: $color-white
    color: $color-blue
    border-collapse: collapse
    th
        padding: 20px
        td
            padding: 20px
thead
    background-color: $color-blue22
    border-bottom: solid 5px #60b8a3
    color: $color-white

tr
    &:nth-child(even)
        background-color: $color-purple
    &:hover td
        background-color: $color-green1
        color: $color-white

button
    flex-direction: row
    width: 30%
    color: $color-blue
    font-size: 15px
    background: $color-white
    border-radius: 10px 
    cursor: pointer
    &:hover
        background: $color-blue22
        color: $color-white
        width: 35%

select
    width: 30%
    border-color: $color-white
    border-radius: 10px 

input
    flex-direction: row
    width: 25%
    color: $color-blue
    font-size: 15px
    background: $color-white
    border-radius: 10px 
    cursor: pointer
    &:hover
        background: $color-blue22
        color: $color-white
        width: 27%

label
    color: $color-blue
    font-size: 15px

.section
    input
        flex: columns
        width: 25%
        height: 100%
        color: $color-blue
        font-size: 15px
        background: $color-white
        border-radius: 10px
        cursor: pointer


    
    

